	<div class="sidebar">
		<div class="col-lg-4">
			<div class="userinfo">
				<h3>User info</h3>
				<table class="table-striped">
					<th colspan="2">
						<%= attachment_image_tag user, :profile_image%>
					</th>
					<tr>
						<th>name</th>
						<th><%=user.name%></th>
					</tr>
					<tr>
						<th>introduction</th><br>
						<th><%= user.introduction %></th>
					</tr>
				</table>
				<div class="edit_profile_btn">
					<p><%= link_to 'edit', edit_user_path(user.id), class:"btn btn-default" %></p>
				</div>
			</div>
			<div class="newbook">
				<h3>New book</h3>
				<%= form_with model: book do |f|%>
					<p>title</p>
					<%= f.text_field :title %>
					<p>opinion</p>
					<%= f.text_area :body %>
					<p></p>
					<%= f.submit "Create Book" ,class:"btn btn-default"%>
				<%end%>
			</div>
			<div class="follow">
				<h3>Follow</h3>
				<p>
					フォロー：
 					<%=link_to user_follows_follow_index_path(user.id) do%>
						<%=user.follows.count%>
					<%end%>
					<%followers=Follow.where(follow_id: user.id)%>
					フォロワー：
					<%=link_to user_follows_follower_index_path(user.id) do%>
						<%=followers.count%>
					<%end%>
				</p>
				<p>
					<%=link_to 'フォローする',new_user_follows_path(user.id)%>
				</p>
				<p>
					<%=link_to user_follows_path(user.id), method: :delete do%>
						フォローしない
					<%end%>
				</p>
			</div>
		</div>
	</div>